auto-install-peers=false
strict-peer-dependencies=false

supportedArchitectures[]=win32
supportedArchitectures[]=linux
supportedArchitectures[]=x64

hoist=true
hoist-pattern[]=*
public-hoist-pattern[]=*